@page
@model gamebook.Pages.ArmyShopModel
@{
}
<div class="text-center">
    <h1>@Model.Location.Title</h1>
    <div>
        @Html.Raw(Model.Location.Description)
    </div>
    <div>
        <ul class="choose-ul">
            @foreach (var x in Model.Connections)
            {
            <li class="choose">
                @if (!String.IsNullOrEmpty(x.SpecialPlace))
                {
                    @if (Model.Money >= 10000)
                    {
                        <a asp-page="ArmyShop" asp-route-id="@x.NextPlace" asp-page-handler="Weapon">KOUPIT GLOCK (-10000)</a>
                    }
                    else
                    {
                        <p>VRAŤ SE AŽ BUDEŠ MÍT 10000 Kč</p>
                    }
                }
                else if (String.IsNullOrEmpty(x.SpecialPlace))
                {
                    <a asp-page="Place" asp-route-id="@x.NextPlace">@Html.Raw(x.Description)</a>
                }
                else if (!String.IsNullOrEmpty(x.MoneyPlace) && Model.Open == true)
                {
                    <a asp-page="Place" asp-route-id="@x.NextPlace" asp-route-m="@x.MoneyGet" asp-page-handler="MoneyGet">@Html.Raw(x.Moneydesc)</a>
                }

            </li>
            }
        </ul>
        <div class="locations-imgs">
            <img src="~/img/@Model.Location.Pic" />
        </div>
    </div>

</div>
<audio autoplay>
    <source src="~/sound/@Model.Sound" type="audio/mpeg">
</audio>
