@page
@model gamebook.Pages.namestiBojModel
@{
}
<div class="text-center">
    <h1>@Model.Location.Title</h1>
    <div>
        @Html.Raw(Model.Location.Description)
    </div>
    <div>
        <ul class="choose-ul">
            @foreach (var x in Model.Connections)

            {
                <li class="choose">
                    @if (String.IsNullOrEmpty(x.SpecialPlace) && String.IsNullOrEmpty(x.MoneyPlace) && String.IsNullOrEmpty(x.BuyingPlace))
                    {
                        <a asp-page="Place" asp-route-id="@x.NextPlace">@Html.Raw(x.Description)</a>
                    }
                    else if (!String.IsNullOrEmpty(x.MoneyPlace) && Model.bossAlive == true)
                    {
                        @if (Model.itemy.Contains(Models.Item.Glock))
                        {
                            <a asp-page="namestiBoj" asp-route-id="@x.SpecialPlace" asp-page-handler="DamageGlock">@Html.Raw(x.Moneydesc) MÁŠ GLOCK (STŘELIT)</a>
                        }
                        else
                        {
                            <a asp-page="namestiBoj" asp-route-id="@x.SpecialPlace" asp-page-handler="Damage">@Html.Raw(x.Moneydesc)</a>
                        }

                    }
                    else if (!String.IsNullOrEmpty(x.SpecialPlace))
                    {
                        <a asp-page="@x.SpecialPlace" asp-route-id="@x.NextPlace">@Html.Raw(x.Description)</a>
                    }
                </li>
            }
        </ul>

    </div>

</div>
<div class="bosshp">
    @for (int i = 0; i < Model.bossHP; i++)
    {
        <img src="~/img/boss_hp.png" />
    }
</div>
<a id="hit" asp-page="namestiBoj" asp-page-handler="Hit" asp-route-id="@Models.Places.BojNaNamesti" style="visibility:hidden;">hit</a>
@if (Model.bossAlive == true)
{
    <div class="locations-imgs">
        <img src="~/img/@Model.Location.Pic" />
    </div>

    <script>setTimeout(function () { document.getElementById("hit").click() }, 1000)</script>
}
else
{
    <div class="locations-imgs">
        <img src="~/img/fandaout.PNG" />
    </div>
}
