@page
@model gamebook.Pages.PlaceModel
@{
}
<div class="text-center">
    <h1>@Model.Location.Title</h1>
    <div>
        @Html.Raw(Model.Location.Description)
    </div>
    <div>
        <ul class="choose-ul">
            @foreach (var x in Model.Connections)

            {
            <li class="choose">
                @if (String.IsNullOrEmpty(x.SpecialPlace) && String.IsNullOrEmpty(x.MoneyPlace) && String.IsNullOrEmpty(x.BuyingPlace))
                {
                    <a asp-page="Place" asp-route-id="@x.NextPlace">@Html.Raw(x.Description)</a>
                }
                else if (!String.IsNullOrEmpty(x.MoneyPlace) && Model.Open == true)
                {
                    @if (Model.itemy.Contains(Models.Item.Glock))
                    {
                        <a asp-page="Place" asp-route-id="@x.NextPlace" asp-route-m="@x.MoneyGet" asp-page-handler="MoneyGet">@Html.Raw(x.Moneydesc) MÁŠ GLOCK (MONEY*10))</a>
                    }
                    else
                    {
                        <a asp-page="Place" asp-route-id="@x.NextPlace" asp-route-m="@x.MoneyGet" asp-page-handler="MoneyGet">@Html.Raw(x.Moneydesc)</a>
                    }

                }
                else if (!String.IsNullOrEmpty(x.BuyingPlace))
                {
                    <a asp-page="Place" asp-route-id="@x.NextPlace" asp-route-h="@x.HpUp" asp-route-m="@x.Cost" asp-page-handler="Buy">@Html.Raw(x.Description)</a>
                }
                else if (!String.IsNullOrEmpty(x.SpecialPlace))
                {
                    <a asp-page="@x.SpecialPlace" asp-route-id="@x.NextPlace">@Html.Raw(x.Description)</a>
                }
                else
                {

                }
            </li>
            }
        </ul>
        <div class="locations-imgs">
            <img src="~/img/@Model.Location.Pic" />
        </div>
    </div>

</div>
<audio autoplay>
    <source src="~/sound/@Model.Sound" type="audio/mpeg">
</audio>

