@page
@model gamebook.Pages.PlaceModel
@{
}
<div class="text-center">
    <h1>@Model.Location.Title</h1>
    <div>
        @Html.Raw(Model.Location.Description)
    </div>
    <div>
        <ul class="choose-ul">
            @foreach (var x in Model.Connections)

            {
                <li class="choose">
                    @if (String.IsNullOrEmpty(x.SpecialPlace))
                    {
                        <a asp-page="Place" asp-route-id="@x.NextPlace">@Html.Raw(x.Description)</a>
                    }
                    else
                    {
                        <a asp-page="@x.SpecialPlace" asp-route-id="@x.NextPlace">@Html.Raw(x.Description)</a>
                    }
                </li>
            }
        </ul>
        <div class="locations-imgs">
            <img src="~/img/@Model.Location.Pic"/>
        </div>

    </div>

</div>


