@page
@model gamebook.Pages.VarnaModel
@{
}
<div class="text-center">
    <h1>@Model.Location.Title</h1>
    <div>
        @Html.Raw(Model.Location.Description)
    </div>
    <div>
        <ul class="choose-ul">
            @foreach (var x in Model.Connections)
            {
            <li class="choose">
                @if (!String.IsNullOrEmpty(x.Moneydesc))
                {
                    @if (Model.itemy.Count< 5)
                    {
                        <a asp-page="Varna" asp-page-handler="AddPernik">@Html.Raw(x.Moneydesc)</a>
                    }
                    else
                    {
                        <p>Můžeš mít u sebe jen 5x piko</p>
                    }
                }
                else if (String.IsNullOrEmpty(x.SpecialPlace))
                {
                    <a asp-page="Place" asp-route-id="@x.NextPlace">@Html.Raw(x.Description)</a>
                }
                else if (!String.IsNullOrEmpty(x.MoneyPlace) && Model.Open == true)
                {
                    <a asp-page="Place" asp-route-id="@x.NextPlace" asp-route-m="@x.MoneyGet" asp-page-handler="MoneyGet">@Html.Raw(x.Moneydesc)</a>
                }

            </li>
            }
        </ul>
        <div class="locations-imgs">
            <img src="~/img/@Model.Location.Pic" />
        </div>
    </div>

</div>